.weather__main {
   padding: 20px;
  margin: auto;
}
.weather__main-container{ 
    display: flex;
    flex-direction: column;
   width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.weather__main-date, .weather__main-temperature, .weather__main-location{
    display: flex;
    justify-content: space-between;
}
.weather__main-date h1 {
    padding: 30px 20px;
    font-size: 45px;
}
.weather__main-date p{
    padding: 40px 20px;
    font-size: 30px;
}

.weather__main-temperature h2{
    font-size: 80px;
    padding: 80px 20px 40px 20px;
}
.weather__main-temperature h2 span{
    color: rgb(235, 173, 16);
}
.weather__main-image{
    width: 250px;
    height: 250px;
}
.weather__main-location p{
    padding: 70px 20px 0 20px;
    font-size: 28px;
}
.weather__main-location-icon {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    fill: rgb(235, 173, 16);
}

@media (max-width: 700px){
 .weather__main-container{
       padding: 10px;
    }
}
@media(max-width: 500px){
    .weather__main-date{
        display: flex;
        flex-direction: column;
    }
    .weather__main-date h1{
        font-size: 35px;
    }
    .weather__main-date p{
        font-size: 25px;
        padding: 20px;
    }
        .weather__main-image {
            width: 150px;
            height: 150px;
            margin: 20px 0;
        }
                .weather__main-temperature h2 {
                    font-size: 50px;
                    
                }
                                .weather__main-location p {
                                    padding: 30px 20px 20px 20px;
                                    font-size: 24px;
                                }
}
@media(max-width: 350px){
   
.weather__main-image {
        width: 100px;
        height: 100px;
        margin: 70px 0;
    }
        .weather__main-date p {
           
            font-size: 22px;
        }
         .weather__main-location p {
             
             font-size: 20px;
         }
}