.weather__tomorrow {
    
    padding: 20px;
}

.weather__tomorrow-container {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: auto;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.weather__tomorrow-image_container {
    display: flex;
    justify-content: flex-end;
}


.weather__tomorrow-date p {
    padding: 5px;
    font-size: 30px;
}

.weather__tomorrow-temperature h2 {
    font-size: 50px;
    padding: 5px;}

    .weather__tomorrow-temperature h2 span {
    color: rgb(235, 173, 16);
}

.weather__tomorrow-image {
    width: 150px;
    height: 150px;
}


@media (max-width: 700px) {}

